<div if="showPagination && steps.length > 1"
     class="gc-pagination">
    <template if="paginationTheme === 'numbers' || steps.length >= paginationCirclesMaxItems">
        <ul class="gc-pagination-theme-numbers">
            <template for="(step, index) in steps">

                <template if="index === 0">
                    <li if="index === currentStepIndex"
                        class="gc-pagination-item gc-pagination-item-current gc-pagination-active"
                        @click="go(index, true, { event: $event })">
                        {{ index + 1 }}
                    </li>

                    <li elseif="index === previousStepIndex"
                        class="gc-pagination-item gc-pagination-item-previous"
                        @click="previous({ event: $event })">
                        {{ index + 1 }}
                    </li>

                    <li elseif="index === nextStepIndex"
                        class="gc-pagination-item gc-pagination-item-next"
                        @click="next({ event: $event })">
                        {{ index + 1 }}
                    </li>

                    <li else
                        class="gc-pagination-item"
                        @click="go(index, true, { event: $event })">
                        {{ index + 1 }}
                    </li>
                </template>

                <template if="currentStepIndex < 3">
                    <template if="index > 0 && index < 5">
                        <li if="index === currentStepIndex"
                            class="gc-pagination-item gc-pagination-item-current gc-pagination-active"
                            @click="go(index, true, { event: $event })">
                            {{ index + 1 }}
                        </li>

                        <li elseif="index === previousStepIndex"
                            class="gc-pagination-item gc-pagination-item-previous"
                            @click="previous({ event: $event })">
                            {{ index + 1 }}
                        </li>

                        <li elseif="index === nextStepIndex"
                            class="gc-pagination-item gc-pagination-item-next"
                            @click="next({ event: $event })">
                            {{ index + 1 }}
                        </li>

                        <li else
                            class="gc-pagination-item"
                            @click="go(index, true, { event: $event })">
                            {{ index + 1 }}
                        </li>
                    </template>

                    <li elseif="index === 5 && index !== steps.length - 1"
                        class="gc-pagination-dots">
                        ...
                    </li>
                </template>

                <template elseif="steps.length - currentStepIndex < 5">
                    <template if="steps.length - index < 6 && steps.length - 1 !== index">
                        <li if="index === currentStepIndex"
                            class="gc-pagination-item gc-pagination-item-current gc-pagination-active"
                            @click="go(index, true, { event: $event })">
                            {{ index + 1 }}
                        </li>

                        <li elseif="index === previousStepIndex"
                            class="gc-pagination-item gc-pagination-item-previous"
                            @click="previous({ event: $event })">
                            {{ index + 1 }}
                        </li>

                        <li elseif="index === nextStepIndex"
                            class="gc-pagination-item gc-pagination-item-next"
                            @click="next({ event: $event })">
                            {{ index + 1 }}
                        </li>

                        <li else
                            class="gc-pagination-item"
                            @click="go(index, true, { event: $event })">
                            {{ index + 1 }}
                        </li>
                    </template>

                    <li elseif="steps.length - index === 6 && index !== 0"
                        class="gc-pagination-dots">
                        ...
                    </li>
                </template>

                <template else>
                    <li if="currentStepIndex - index === 3 && index !== 0"
                        class="gc-pagination-dots">
                        ...
                    </li>

                    <template elseif="(currentStepIndex - index >= 0 && currentStepIndex - index < 3)
                    || ( index - currentStepIndex >= 0 && index - currentStepIndex < 3)">
                        <li if="index === currentStepIndex"
                            class="gc-pagination-item gc-pagination-item-current gc-pagination-active"
                            @click="go(index, true, { event: $event })">
                            {{ index + 1 }}
                        </li>

                        <li elseif="index === previousStepIndex"
                            class="gc-pagination-item gc-pagination-item-previous"
                            @click="previous({ event: $event })">
                            {{ index + 1 }}
                        </li>

                        <li elseif="index === nextStepIndex"
                            class="gc-pagination-item gc-pagination-item-next"
                            @click="next({ event: $event })">
                            {{ index + 1 }}
                        </li>

                        <li else
                            class="gc-pagination-item"
                            @click="go(index, true, { event: $event })">
                            {{ index + 1 }}
                        </li>
                    </template>

                    <li elseif="index - currentStepIndex === 3 && steps.length -1 !== index"
                        class="gc-pagination-dots">
                        ...
                    </li>
                </template>

                <template if="index + 1 === steps.length">
                    <li if="index === currentStepIndex"
                        class="gc-pagination-item gc-pagination-item-current gc-pagination-active"
                        @click="go(index, true, { event: $event })">
                        {{ index + 1 }}
                    </li>

                    <li elseif="index === previousStepIndex"
                        class="gc-pagination-item gc-pagination-item-previous"
                        @click="previous({ event: $event })">
                        {{ index + 1 }}
                    </li>

                    <li elseif="index === nextStepIndex"
                        class="gc-pagination-item gc-pagination-item-next"
                        @click="next({ event: $event })">
                        {{ index + 1 }}
                    </li>

                    <li else
                        class="gc-pagination-item"
                        @click="go(index, true, { event: $event })">
                        {{ index + 1 }}
                    </li>
                </template>
            </template>
        </ul>
    </template>

    <template else>
        <div class="gc-pagination-theme-circles">
            <template for="(step, index) in steps">
                <div if="index === currentStepIndex"
                     class="gc-pagination-item gc-pagination-item-current gc-pagination-active"></div>

                <div elseif="index === previousStepIndex"
                     class="gc-pagination-item gc-pagination-item-previous"
                     @click="previous({ event: $event })"></div>

                <div elseif="index === nextStepIndex"
                     class="gc-pagination-item gc-pagination-item-next"
                     @click="next({ event: $event })"></div>

                <div else
                     class="gc-pagination-item"
                     @click="go(index, true, { event: $event })"></div>
            </template>
        </div>
    </template>
</div>
