.gc-relative {
  position: relative;
}

.gc-fixed {
  position: fixed;
}

.gc-overlay {
  position: fixed;
  z-index: 9000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: content-box;
  transition: all 0.3s ease-out;
  opacity: 0.8;
  background-color: #000;
}

.gc-highlight {
  position: absolute;
  z-index: 9001;
  box-sizing: content-box;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 2px 15px rgba(0, 0, 0, .4);

  &:before, &:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
}

.gc-control {
  position: absolute;
  z-index: 9004;
  visibility: hidden;
  box-sizing: content-box;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: transparent;
}

.gc-interaction {
  position: absolute;

  &.gc-disable {
    position: absolute;
    z-index: 9003 !important;
    opacity: 0;
    background-color: white;
    filter: alpha(opacity=0);
  }
}

.gc-tooltip {
  position: absolute;
  visibility: visible;
  box-sizing: content-box;
  min-width: 300px;
  max-width: 550px;
  padding: 25px;
  -moz-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .4);

  &[gc-position='top'] {
    margin-bottom: 10px;
  }

  &[gc-position='left'] {
    margin-top: 5px;
    margin-right: 10px;
  }

  &[gc-position='right'] {
    margin-left: 10px;
  }

  &[gc-position='bottom'] {
    margin-top: 10px;
  }
}

.gc-tooltip-tail {
  position: absolute;
  content: '';
  border: 5px solid transparent;

  .gc-tooltip[gc-position='top'] & {
    bottom: -10px;
    border-top-color: white;
  }

  .gc-tooltip[gc-position='top'][gc-alignment='right'] & {
    right: 10px;
    bottom: -10px;
    border-top-color: white;
  }

  .gc-tooltip[gc-position='top'][gc-alignment='middle'] & {
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    border-top-color: white;
  }

  .gc-tooltip[gc-position='left'] & {
    top: 10px;
    right: -10px;
    border-left-color: white;
  }

  .gc-tooltip[gc-position='right'] & {
    top: 10px;
    left: -10px;
    border-right-color: white;
  }

  .gc-tooltip[gc-position='bottom'] & {
    top: -10px;
    border-bottom-color: white;
  }

  .gc-tooltip[gc-position='bottom'][gc-alignment='right'] & {
    top: -10px;
    right: 10px;
    border-bottom-color: white;
  }

  .gc-tooltip[gc-position='bottom'][gc-alignment='middle'] & {
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: white;
  }
}

.gc-close {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  overflow: hidden;
  width: 15px;
  height: 15px;
  margin: 10px;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  &::before, &::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    content: '';
    border-radius: 5px;
    background: #000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.gc-progressbar {
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  box-sizing: content-box;
  width: 0;
  height: 5px;
  text-align: center;
  border-radius: 2px 0 0 0;
  background-color: $progressbar;

  &[aria-valuenow='100'] {
    border-radius: 2px 2px 0 0;
  }

  .gc-tooltip[gc-position='bottom'] & {
    top: auto;
    bottom: 0;
    border-radius: 0 0 0 2px;

    &[aria-valuenow='100'] {
      border-radius: 0 0 2px 2px;
    }
  }
}

.gc-fake {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.gc-highlighted {
  z-index: 9002 !important;

  & > td, & > th {
    position: relative;
    z-index: 9002 !important;
  }
}

.gc-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0 5px 0 5px;

  &.gc-hidden {
    display: none;
  }
}

.gc-description {
  font-size: 14px;
  overflow-y: auto;
  max-height: 200px;
  margin-bottom: 20px;
  padding: 0 5px 0 5px;
  text-align: justify;
  scroll-behavior: smooth;

  &.gc-hidden {
    display: none;
  }
}

.gc-custom-buttons {
  margin-bottom: 20px;
  padding: 0 5px 0 5px;

  &.gc-hidden {
    display: none;
  }
}

.gc-navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
}

.gc-navigation-prev,
.gc-navigation-next {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-right: 5px solid #bebebe;
  border-bottom: 5px solid #bebebe;

  &:hover {
    opacity: 1;
    border-color: $primary;
  }

  &.gc-hidden {
    visibility: hidden;
  }
}

.gc-navigation-prev {
  transform: rotate(-225deg);
}

.gc-navigation-next {
  transform: rotate(-45deg);
}

.gc-pagination {
  &.gc-hidden {
    visibility: hidden;
  }
}

.gc-pagination-item {
  display: inline-block;
  box-sizing: content-box;
  width: 8px;
  height: 8px;
  padding: 0;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #bebebe;

  &:hover {
    background-color: $primary;
  }
}

.gc-pagination-active {
  background-color: $primary;
}

.gc-copyright {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 5px 10px;
  letter-spacing: 0.1em;
  color: #888888;
}

.gc-preloader {
  position: fixed;
  z-index: 9005;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);

  &:after {
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    content: " ";
    animation: gc-preloader 1.2s linear infinite;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    border-radius: 50%;
  }
}

@keyframes gc-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}